/* Adrian */

html, body {
  background-color: #140836;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  box-sizing: border-box;
}

header {
  height: 300px;
  text-align: center;
  background-size: 100% 130%;
  background-position: center;
  padding: 5%;
  width: auto;
}

footer {
  position: relative;
  margin-right: 30px;
  padding: 20px;
  right: 0;
  height: auto;
  border-top: 2px solid #781d86; 
}

footer p {
  color: #781d86;
}

nav {
  position: absolute;
  left: 0;
  height: auto;
  width: 20%;
}

nav ul {
  padding: 0;
}

nav ul li a {
  list-style: none;
  display: block;
  font-size: 1.6rem;
  color: #ececec;
  padding: 10px 30px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #1e0d48;
}

.menu a:hover{
  background-color: #1e0d48;
  box-sizing: border-box;
  border-radius: 10px;

}

.menu a.current_page {
  background-color: #57175f4d;
  color: #ececec;
  box-sizing: border-box;
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
}

p, a {
  font-family: 'Courier New', Courier, monospace;
}

main {
  position: relative;
  margin-right: 30px;
  padding: 0 30px;
  right: 0;
  height: auto;
}

main p {
  color: #ececec;
}

#wrapper {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 20%;
}

section {
  box-sizing: border-box;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #57175f4d;
}

li{
  color: #ececec;;
  font-size:20px
}

#contact_list ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#contact_list li {
  flex: 1; 
}

#contact_list li:not(:last-child) {
  margin-right: 20px; 
  margin-left: 20px;
}

form{
  color:#ececec;
  line-height: 2;
  padding: 60px
}

.form-input {
  margin-top: 10px !important;
}

input {
  height:30px; 
  width:250px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

input[type="submit"],
input[type="reset"] {
  background-color: #140836;
  color: #ececec;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #1b0b58;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 98.3%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #140836;
    border-radius: 5px;
    background-color: #140836;
    resize: none;
    color: #ececec;
}

input::placeholder,
textarea::placeholder {
    color: #ffffff7e;
}

table{
  font-family: 'Courier New', Courier, monospace;
}