* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 5%;
    background-color: teal;
    width: auto;
    height: 20%;
}

#wrapper {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
}

nav {
    position: absolute;
    background-color: beige;
    left: 0;
    height: auto;
    width: 20%;
}

nav a {
    display: block;
    padding: 20px;
    margin: auto;
    text-decoration: none;
    width: auto;
    height: 10px;
}

nav a:hover {
    background-color: bisque;
}


main {
    position: relative;
    padding: 20px;
    right: 0;
    height: 100%;
    background-color: grey;
}

footer {
    position: relative;
    padding: 20px;
    right: 0;
    height: 10%;
    background-color: dimgrey;
}