/* Anas */

h2 {
    color: #781d86;
}

p, a {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-image: url('assets/pics/history_header.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
    background-color: burlywood;
    padding: 5%;
    width: auto;
    height: 300px;
}

#header_title {
    font-family: retro;
    font-size: 3rem;
    margin-top: 10%;
    color: #ececec;
}

#wrapper {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
}

nav {
    position: absolute;
    left: 0;
    height: auto;
    width: 20%;
}

nav ul {
    padding: 0;
}

nav ul li a {
    list-style: none;
    display: block;
    font-size: 1.6rem;
    color: #e6e6e6;
    padding: 10px 30px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #1e0d48;
}


main {
    position: relative;
    margin-right: 30px;
    padding: 0 30px;
    right: 0;
    height: auto;
}

main p {
    color: #e6e6e6;
}

section {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(87, 23, 95, 0.3);
    /*Hi Anas, great colour scheme, just remember all the colours we select must be in hexidecinal as per the assignment! :)  */
}

footer {
    position: relative;
    margin-right: 30px;
    padding: 20px;
    right: 0;
    height: auto;
    border-top: 2px solid #781d86; 
}

footer p {
    color: #781d86;
}