
.image-and-text {
    display: flex; 
    align-items: center; 
}

.text1 {
    margin-left: 30px; 
}

img {
    border-radius: 10px;
    opacity: 0.8;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    color: #781d86;
}

.image-and-info {
    display: flex;
    align-items: center;
}


p, a {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-image: url("assets/pics/individual_header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
    background-color: #1e0d48;
    padding: 5%;
    width: auto;
    height: 300px;
}

#header_title {
    font-family: retro;
    font-size: 3rem;
    margin-top: 10%;
    color: #d3cf05;
    font-family: 'Press Start 2P', cursive;
}

#wrapper {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
}

nav {
    position: absolute;
    left: 0;
    height: auto;
    width: 20%;
}

nav ul {
    padding: 0;
}

nav ul li a {
    list-style: none;
    display: block;
    font-size: 1.6rem;
    color: #e6e6e6;
    padding: 10px 30px;
    text-decoration: none;
}

nav ul li a:hover {
    border-radius: 0 5px 5px 0;
    background-color: #1e0d48;
}


main {
    position: relative;
    margin-right: 30px;
    padding: 0 30px;
    right: 0;
    height: auto;
}

main p {
    color: #e6e6e6;
}

section {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(87, 23, 95, 0.3);
   
}

footer {
    position: relative;
    margin-right: 30px;
    padding: 20px;
    right: 0;
    height: auto;
    border-top: 2px solid #781d86; 
}

dt {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #e6e6e6;
    line-height: 30pt;
}

dd {
    font-family: 'Courier New', Courier, monospace;
    color: #e6e6e6;
}

footer p {
    margin-left: 10px;
    color: #e6e6e6;
}