
#wrapper {
    width:100%;
    margin: auto;
    display: flex;
    height: 100vh;


}

header{
    height: 50px;
}

.menu {
    width: 20%;
    float: left;
    background-color:#974EC3;
    color: aliceblue;
    overflow: hidden;
    
}

.menu a:hover{
    background-color: beige;

}

.menu a.current_page {
    background-color: aqua;
    color: blue;
}

#content {
    width:80%;
    float: right;
    background-color:#8CABFF;
}

footer{
    height: 60px;
}