
#wrapper {
    width:100%;
    margin: auto;
    display: flex;


}

header{
    height: 60px;
    text-align: center;
}

.menu {
    width: 20%;
    float: left;
    background-color:#974EC3;
    color: aliceblue;
    overflow: hidden;
    
}

.menu a {
    display: block;
    padding: 20px;
}

.menu a:hover{
    background-color: beige;

}

.menu a.current_page {
    background-color: aqua;
    color: blue;
}

#content {
    width:80%;
    float: right;
    background-color:#8CABFF;
    min-height: 90vh;
    position: relative;


}

footer{
    position:absolute;
    bottom: 0;
    width: 100%;
}