/* ahsan */

html, body {
    background-color: rgb(10, 10, 10);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    box-sizing: border-box;
}

p, a {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-image: url("assets/pics/80s.png");
    background-repeat: no-repeat;
    background-size: 130% 180%;
    background-position: center;
    text-align: center;
    background-color: #0d061f;
    padding: 5%;
    width: auto;
    height: 300px;
}

#wrapper {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
}

nav {
    position: absolute;
    left: 0;
    height: auto;
    width: 20%;
}

nav ul {
    padding: 0;
}

nav ul li a {
    list-style: none;
    display: block;
    font-size: 1.6rem;
    color: #e6e6e6;
    padding: 10px 30px;
    text-decoration: none;
}

nav ul li a:hover {
    border-radius: 0 5px 5px 0;
    background-color: #1e0d48;
}

main {
    position: relative;
    margin-right: 30px;
    padding: 0 30px;
    right: 0;
    height: auto;
}

main p {
    color: #e6e6e6;
}

section {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(87, 23, 95, 0.3);
    
}

dt {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #e6e6e6;
    line-height: 30pt;
}

dd {
    font-family: 'Courier New', Courier, monospace;
    color: #e6e6e6;
}

footer {
    position: relative;
    margin-right: 30px;
    padding: 20px;
    right: 0;
    height: auto;
    border-top: 2px solid #781d86; 
}

footer p {
    margin-left: 10px;
    color: #e6e6e6;
}