
#wrapper {
    width:90%;
    margin: auto;


}

nav {
    width: 20%;
    float: left;
    background-color: aqua;
}

#content {
    width:80%;
    float: right; 
    background-color: beige;
}


header h1{
    color: blueviolet;
}

header h2 {
    color: orange;
}
#main h1{
    font-style: italic;
}

.payAttention {
    color: red;
    font-weight: bold;
}