
#wrapper {
    width:90%;
    margin: auto;
    display: flex;


}

nav {
    width: 20%;
    float: left;
    background-color:#974EC3;
    
}

#content {
    width:80%;
    float: right;
    background-color:#8CABFF;
}


header h1{
}

}
#main h1{
    font-style: italic;
    color: ;
}

.payAttention {
    color: red;
    font-weight: bold;
}