nav {
    width: 10em;
    float: left;
}

#content {
    float: left;
}

header h1{
    color: blueviolet;
}

header h2 {
    color: orange;
}
#main h1{
    font-style: italic;
}

.payAttention {
    color: red;
    font-weight: bold;
}